name: Terraform Deploy Portfolio

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        working-directory: ./one-page-website-html-css-projectterraform
        run: terraform init

      - name: Terraform Apply
        working-directory: ./one-page-website-html-css-project/terraform
        run: terraform apply -auto-approve

      - name: Output Public IP
        working-directory: terraform
        run: terraform output portfolio_url
